<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<title>UsherBuddy | Last-Minute Ticket Deals</title>
     
</head>
<body id="single">
     
    <div id="wrapper">
    	 
    
        <div id="content">

			<div class="c75l">
				<h1>About UsherBuddy</h1>
                    <p>UsherBuddy was founded in February of 2011 with the goal of changing the way people make last minute plans while providing a yield management solution for venues.</p>
                    
                    <h2>The Concept</h2>
						<p>UsherBuddy features a unique system that connects people to empty seats in their cities. Whether the seat is at a comedy club, performing arts theater, live music venue, or sporting event, we have you covered. Our focus is to deliver a great night to our users, not just a great deal (although, it will certainly be a great deal, too!). Think of it like a Pandora for live events.</p>
                        <p>The formation of this company was born from a simple idea: We wanted to explore our city and find new venues. We had a few venues we frequently went to, but we felt we were missing something. This is a common problem whether you live in a large city, or a small city.</p>
                    
                    <h2>Our Supporters</h2>
                    <img src="images/nycss.jpg" style="float:right;" width="259" height="71" alt="NYC SeedStart" /><p>UsherBuddy is funded by NYC SeedStart, which is a joint venture between venture capital firms (Contour Venture Partners, Comcast Ventures/Genacast Ventures, NYC Seed, Polaris Venture Partners, RRE Ventures), Media companies (AOL Ventures, Hearst Corporation, MTV Networks, The New York Times, Google, Ogilvy Entertainment, Vivendi, News Corporation, Gilt City, ESPN, Kantar Video, and Comcast).</p>
                    <p>There are other partners such as New York Tech Meetup, Silicon Valley Bank, New York University, WTAS, and well known New York-based law and accounting firms. They are interested in funding companies that seek to bring innovation and growth to the New York community. </p>
                       
			</div><!--end .c75l-->

			<div class="c25l">
            	<div class="side_box">
				<h3>What Businesses Say</h3>
					<p>I 100% expect UsherBuddy to change the way I get rid of my unsold inventory at the last minute! <em>- Undisclosed Theater, NYC</em></p>
                    <p>For at least 2 or 3 of my shows every week, we never sell out. I think UsherBuddy is a great concept to reach new audiences! <em>- Undisclosed Music Venue, NYC</em></p>
                 </div><!--end .side_box-->
                
                <div class="side_box">
                <h3>What Users Say</h3>
					<p>This solution seems like the perfect answer to help me figure out what to do... there is way too much information out there! <em>- Hannah, Philadelphia</em></p>
                 </div><!--end .side_box-->
                
			</div><!--end .c25l-->
           </div><!--end #content-->

		<div id="content">
            <h2>The UsherBuddy Team</h2>
              <p>The UsherBuddy team consists of Frank, Jeff, and Jason. </p><br />
              
			<div class="col">
				<h3>Frank Fumarola</h3>
                <h4>Co-Founder</h4>
				<img class="icon" src="images/frank.jpg" alt="Frank Fumarola" />
				<p> Frank is a NYC native who moved to Baltimore county at an early age. He went to school at the University of Maryland and thus spent four years exploring the arts scene that Washington DC had to offer. After school, he moved to Philadelphia where he has been exploring that vibrant community since then. He now resides in Williamsburg as he helps to build UsherBuddy. </p>
					<a class="button btn_link" style="margin-right:4px;" href="http://twitter.com/#!/ffumarola" target="_blank">Twitter</a><a class="button btn_link" href="http://www.linkedin.com/in/francisfumarola" target="_blank">LinkedIn</a>
			</div><!--end .col-->
            
			<div class="col">
				<h3>Jeff Csicsek</h3>
                <h4>Co-Founder</h4>
				<img class="icon" src="images/jeff.jpg" alt="Jeff Csicsek" />
				<p>Jeff, UsherBuddy's lead programmer, is a Baltimore native who grew up in Baltimore county as well. He went to school at Virginia Tech where he fell in love with the small town charm of Blacksburg and all they had to offer. After graduating, he moved to NYC and has lived in the East Village, Clinton Hill, and currently Williamsburg.</p>
					<a class="button btn_link" href="http://twitter.com/#!/jcsicsek" target="_blank">Twitter</a>
			</div><!--end .col-->
			
			<div class="col last_col">
				<h3>Jason Williams</h3>
                <h4>Co-Founder</h4>
				<img class="icon" src="images/jason.jpg" alt="Jason Williams" />
				<p>Jason has moved around between the cities of Seattle, New York, Philadelphia, and Lille, France. When he lived in NYC, he sold custom made tshirts on the streets of SOHO and also raised money to produce a few short films as part of an artist alliance. He now uses his creative energy to build UsherBuddy while residing in Sunset Park.</p>
					<a class="button btn_link" href="http://twitter.com/#!/JsnWllms" target="_blank">Twitter</a>
			</div><!--end .col-->
            
		</div><!--end #content-->
    
    </div><!--end #wrapper-->
    
     

</body>
</html>