<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<title>UsherBuddy | Last-Minute Ticket Deals</title>
     
</head>
<body id="single">
     
    <div id="wrapper">
    	 
        
		<div id="content">

			<div class="c75l">
				<h2>How UsherBuddy prevents and combats abuse</h2>
                    <ul class="simplelist circle">        
                      <li>We have a team of human reviewers approving new UsherBuddy business accounts and detecting abuse. Our staff uses a range of criteria to validate that a businesses offers will be valuable.</li>
                      <li>We require all users to agree to our <a href="terms.html">Terms of Use</a> before they can set up an UsherBuddy account, and again before they can import any existing customer lists into their accounts.</li>
                      <li>Our intelligent recommendation engine flags offers that seem to be getting fewer responses than normal and hence may be abuse.</li>
                      <li>For new businesses who are starting from scratch, UsherBuddy offers suggested deals templates which are guaranteed to represent a good deal.</li>        
                    </ul>
                    <br />
                    
                 <h2>How we educate customers</h2>
                    <ul class="simplelist circle">
                      <li>We keep our businesses updated with the latest deal best practices, tips, etiquette, and do's and don'ts via our <a href="http://blog.usherbuddy.com" target="_blank"> UsherBuddy Blog</a> and newsletters</li>
                      <li>Throughout UsherBuddy's user interface (when sending deals, setting up deals, and designing deals), we provide businesses with helpful links and background information that help them understand etiquette and spam laws.</li>
                    </ul>
                    <br />
                    
                 <h2>How we deal with issues</h2>
                    <ul class="simplelist circle">
                      <li>We embed every deal with a unique ID so that recipients can easily report abuse to UsherBuddy. When we receive complaints through our abuse form, we investigate immediately. If the deal or business account appears suspicious in any way, we'll suspend the account during the investigation.</li>
                      <li>Similiar to email restrictions on junk mail, we take abuse reports very seriously. We will send a warning to a business when they have received .1% abuse flags on their deals and will de-activate the account when they reach .2% abuse flags. That is 1 in 1,000 and 2 in 1,000.</li>
                    </ul>
                    <br />                    
                       
                    <iframe height="581" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://usherbuddy.wufoo.com/embed/q7x3q7/"><a href="http://usherbuddy.wufoo.com/forms/q7x3q7/" title="Report Abuse" rel="nofollow">Report Abuse</a></iframe>
                    
			</div><!--end .c75l-->

			<div class="c25l">
            	<div class="side_box">
				<h3>Why Is There Abuse?</h3>
					<p>UsherBuddy allows hundreds of venues to send out offers to thousands of recipients, we're bound to get abuse reports every now and then. We take abuse reports seriously, and we go to great lengths to prevent abuse within our system.</p>
                 </div><!--end .side_box-->         
                
			</div><!--end .c25l-->            
		</div><!--end #content--> 
    </div><!--end #wrapper-->
      
     

</body>
</html>
