<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<title>UsherBuddy | Last-Minute Ticket Deals</title>
     
    <link href="assets/jquery.countdown.css" media="screen" rel="stylesheet" type="text/css">   
    <script type="text/javascript" src="assets/jquery.countdown.js"></script>
	<script type="text/javascript">
    $(function () {
		$('#deal1').countdown({until: '+13h', format: 'HMS'});
		$('#deal2').countdown({until: '+21h', format: 'HMS'});
    });
    </script>
</head>
<body id="single">
     
    <div id="wrapper">
    	 
    
        <article id="featured">
            <div id="category">Theater</div>
            <h2>Avant-Garde-O-Rama at PS122 in the East Village.</h2>
            <div id="deals">
                <span class="buy_ribbon">
                    <p>$34</p>
                    <a href="buy.html"><img alt="buy" src="images/buy_button.png"/></a> <!-- "Buy.html" will be our cart system -->
                </span>
                <div class="disc_info">
                    <span class="disc_info_left">Price</span><span class="disc_info_right">$68</span>
                    <span class="disc_info_left">Disc.</span><span class="disc_info_right">50%</span>
                    <span class="disc_info_left">You save</span><span class="disc_info_right">$34</span>	
                </div>
                <a href="share.html">Share with a friend!</a> <!-- "Share.html" will be a lightbox with share icons? -->
                <div id="deal1"></div> <!-- Countdown timer -->
            </div>
            <img class="featured_pic" alt="featured picture" src="images/featured_pic.jpg"/>
            <div id="rate">
                <p>Help us recommend better events for you!</p>
                <p><img src="images/thumbs_up.png"/><img src="images/thumbs_down.png" /></p>
            </div>
            <div class="featured_left">
                <h3>Synopsis</h3>
                <p>This play is blah blah blah Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis. [Read More...]</p>
            </div>
            <div class="featured_right">
                <h3>Cast and Crew</h3>
                <p>This play features Bob, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Doid. Nam quam ligula, lobortis vitae quam, sed blandmi magna, facilisis.</p>
            </div>	
        </article>
           
        <section id="sidebar">
            <h4>Other PS122 Deals</h4>
            <p><img src="images/view_deal.png" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mi nulla, convallis eget malesuada a, accumsan id nunc.</p>
            <p><img src="images/view_deal.png" />Sed ut eros sit amet justo accumsan elementum sed et odio. Pellentesque pharetra mauris non lacus pharetra pretium. Donec vel mauris</p>
            <p><img src="images/view_deal.png" />Cras ultrices imperdiet commodo. Curabitur vehicula, sem vel malesuada suscipit, nunc massa lobortis libero, at eleifend justo nisl sit amet sem.</p>
            <p><img src="images/view_deal.png" />Duis viverra lobortis ante ac aliquet. Nunc sapien enim, aliquet sit amet pellentesque at, pharetra et purus.</p>
            <p><img src="images/view_deal.png" />Nunc quis velit lorem. Aenean interdum urna ultricies enim sollicitudin interdum. Sed feugiat tellus quis erat convallis et suscipit nulla sollicitudin.</p>
        </section>
        
        <article id="featured">
            <div id="category">Synopsis & Cast</div>
            <h3>Synopsis</h3>
            <p>This play is blah blah blah Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis. consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis.</p>
            <p>consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis. consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis.</p>
            <h3>Cast & Crew</h3>
            <p>consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis. consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis.</p>
				
            <div id="subcategory">History</div>
            <h3>About the Venue</h3>
            <p>This play is blah blah blah Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis. consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis.</p>
            <p>consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis. consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis.</p>

            <div id="subcategory">Terms</div>
            <h3>Restrictions</h3>
            <p>This play is blah blah blah Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis. consectetur adipiscing elit. Donec cursus, est non sagittis semper, ipsum tellus pharetra nulla, nec euismod lacus risus feugiat massa.Proin facilisis iaculis enim lobortis vel. Nunc mi magna, facilisis.</p>
         </article>
         
         <section id="sidebar">
            <h4>Map</h4>
            <p>Map</p>
            <h4>Reviews</h4>
            <p>Reviews</p>
            <h4>Contact</h4>
            <p>Contact Info</p>
        </section>
    
       
    </div>
    
     

</body>
</html>