<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<title>UsherBuddy | Last-Minute Ticket Deals</title>
     
</head>
<body id="single">
     
    <div id="wrapper">
    	 
    
        <div id="content">

			<div class="c75l">
				<h3>Access UsherBuddy's Data</h3>                
                    <p>Register for an UsherBuddy API key to develop your own UsherBuddy applications. We'd love to see what kind of ideas for improvements or interfaces you have!</p>
    
                    <p>Before begining to make awesomeness, read <a href="#">our API TOS</a> and <a href="#">UsherBuddy Branding Requirements</a>. Then, once you register, you'll find guidance and support in our <a href="#">API guide</a> and <a href="#">Dev Forum</a>.</p>
                
                    <p>Start plugging away!</p>
                
                    <a class="button btn_link" href="#">Get API Key</a>
      
                      <p>You will need to <a href="#">Sign In</a> first and then come back to this page and click "Get API Key"</p>
                                    
                    <p>If you are having problems obtaining an API key, please contact us at <a href="mailto:info@UsherBuddy.com">info@UsherBuddy.com</a>.
                               
			</div><!--end .c75l-->

		</div><!--end #content-->
    
    </div><!--end #wrapper-->
    
     

</body>
</html>
