<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<title>UsherBuddy | Last-Minute Ticket Deals</title>
     
</head>
<body id="single">
     
    <div id="wrapper">
    	 
        
		<div id="content">

			<div class="c75l">
				<h1>Jobs @ UsherBuddy</h1>
                    <p>UsherBuddy was founded in February of 2011 with the goal of changing the way people make last minute plans while providing a yield management solution for venues.</p>
					<p>Working at UsherBuddy gives you access to live events as well as leading industry experts that support us through the NYC SeedStart program. UsherBuddy seeks to be a team-oriented and fun work environment. We look for team members who have a lot of drive, passion, and enthusiasm for the work they do.</p>
                    
                 <h2>Our Jobs</h2>
                 <br />
                 
                 	<h4>Business Development </h4>
                    	<p>Intern in New York City</p>

                 	<h4>Marketing </h4>
                    	<p>Intern in New York City</p>

                 	<h4>Web Design and Programming</h4>
                    	<p>Intern in New York City</p>
                                                
			</div><!--end .c75l-->

			<div class="c25l">
            	<div class="side_box">
				<h3>What We Say</h3>
					<p>Working on UB for the past few months has been an amazing experience. We have access to some of the top VC's and entrepreneurs and have fun every day. <em>- Frank, Co-Founder, NYC</em></p>
                    <p>Programming our product beats programming in the IT / corporate environment in more ways than I can count, it is a great experience! <em>- Jeff, Co-Founder, NYC</em></p>
                 </div><!--end .side_box-->
                
                
			</div><!--end .c25l-->
            
		</div><!--end #content-->
        
    </div><!--end #wrapper-->
      
     

</body>
</html>
