<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<title>UsherBuddy | Last-Minute Ticket Deals</title>
     
</head>
<body id="single">
     
    <div id="wrapper">
    	 
    
        <div id="content">

			<div class="panel clearfix">
      
                <h2 class="signup">Sign up <span class="login-span">or <a class="login-a" href="login.shtml">login</a></span></h2>
                
                <div style="margin-right: 20px;" class="c50l">
                  <form method="post" id="account_creation_form" action="#">
                
                    <div class="row">
                      <label for="first_name">First Name:</label><br>
                      <input type="text" tabindex="1" size="30" name="first_name" id="first_name">
                    </div>
                    <div class="row">
                      <label for="last_name">Last Name:</label><br>
                      <input type="text" tabindex="2" size="30" name="last_name" id="last_name">
                    </div>
                    <div class="row">
                      <label for="email">Email Address:</label><br>
                      <input type="email" tabindex="3" size="30" name="email" id="email" class="required">
                    </div>
                    <div class="row">
                      <label for="password">Password:</label>
                      <br><input type="password" tabindex="4" size="30" name="password" id="password" autocomplete="OFF" class="required">
                    </div>
                    <div class="row">
                      <label for="password_confirm">Confirm Password:</label><br>
                      <input type="password" tabindex="5" size="30" name="password_confirm" id="password_confirm"autocomplete="OFF" class="required">
                    </div>
                    <div class="row">
                      By registering you agree to UsherBuddy's <a target="_blank" href="terms.shtml">Terms and Conditions</a> and <a target="_blank" href="privacy.shtml">Privacy Policy</a>.
                    </div>
                    <div class="row">
                      <button class="button" type="submit"><span>sign up</span></button>
                    </div>
                  </form>
                </div><!--end .c50l-->
                
                <div style="margin: 0;" class="c50r">
                  <h3>Or, have a Facebook, Twitter, or Gmail account?</h3>
                  <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=APP_ID&amp;xfbml=1"></script><fb:login-button show-faces="true" width="300" max-rows="2"></fb:login-button>
                </div><!--end .c50r-->
                  <!-- INSERT GOOGLE -->
                  <!-- INSERT TWITTER -->
             </div><!--end .panel .clearfix-->
            
		</div><!--end #content-->
    
    </div><!--end #wrapper-->
    
     

</body>
</html>
