
  <body id="single">
    <nav>
        <ul>
            <li><a class="current_item" href="#">Event Deals</a></li>
            <li><a href="learn.html">How It Works</a></li>
            <li><a href="account.html">Your Account</a></li>		
        </ul>
    </nav>
<div id="wrapper">
	<header>
    <h1 id="logo">
        <a href="index2.html">UsherBuddy</a> <!--Obviously index2.html is being defined because their are no cookies or sessions so root would take you back to the index.html page -->
    </h1>

</header>
</div>
