  <div id="main">
    <div class="page_margins">
      <div class="page">    
		<div class="subcolumns">
			<div class="c66l">
				<div class="subcl">
				  <h2>About UsherBuddy</h2>
					<p>Usher Buddy launched in February 2011 and features a unique system that connects people to empty seats in their cities. Whether the seat is at a comedy club, movie theater, restaurant or bar, performing arts theater, or sporting event, we have you covered. Our focus is to deliver a great night to our users, not just a great deal (although, it will certainly be a great deal, too!).</p>
					<p>Our headquarters is located in Philadelphia, the City of Brotherly Love. We started in Philadelphia because of our love for the city and what it has to offer.</p>
					<p>The formation of this company was born from a simple idea: We wanted to explore our city and find new venues. We had a few venues we frequently went to, but we felt we were missing something. This is a common problem whether you live in a large city, or a small city.</p>
				</div>	
			</div>
			<div class="c33r">
				<div class="subcr">
				  <div class="info">
					<h4>What Users Say</h4><br>
					 <ul class='testimonials'>
					  <li class='testimonials'>
						<blockquote class='clearfix'>
						  <span>I've found 3 of my new favorite places to go to in Philadelphia through UsherBuddy! Thanks!</span>
						</blockquote>
						<cite>
						  <strong>@ffumarola Twitter</strong>
						</cite>
					  </li>
					  <li class='testimonials'>
						<blockquote class='clearfix'>
						  <span>I cant recommend USherBuddy more... I've never explored my city as much as I have since getting the iPhone app!</span>
						</blockquote>
						<cite>
						  <strong>@jdwillas Twitter</strong>
						</cite>
					  </li>
					  <li class='testimonials'>
						<blockquote class='clearfix'>
						  <span>Im addicted to receiving real-time deals.</span>
						</blockquote>
						<cite>
						  <strong>Jeff C. Yelp</strong>
						</cite>
					  </li>
					</ul>
				  </div>
				</div>			
			</div>			
		</div>
	  </div>
    </div>
  </div>
  <div id="extended">
    <div class="page_margins">
      <div class="page">
 		<div class="subcolumns">
			<div class="c66l">
				<div class="subcl">
					<h2>Our Policies</h2>
						<p>Because of this, the Usher Buddy guarantee to you is:</p>
						<ul>
							<li>We will find events that will interest you. Did you know that your city often times has large round table discussions that you have to buy a ticket to? Or, maybe you didn't know about the improv comedy show that happens at a small coffee shop every Wednesday. Whatever you're interested in, we want to connect you to that event when you least expected it in order to create a night to remember.</li>
							<li>We hate fine print. None of us are lawyers. None. When we buy deals, we want to get that deal. With that being said, when you get an offer for a $3 comedy club ticket, you're getting a $3 comedy club ticket, no questions asked.</li>
							<li>We hate unethical business practices. If a merchant is giving you the run around, let us know. We will refund your money and investigate the issue further to see how we can make things better.</li>
						</ul>
					<h2>Our People</h2>
						<p>Usher Buddy started with Frank, Jeff, and Jason.</p>
						<p>Frank has lived in the metropolitan regions of Washington DC and Baltimore and in Philadelphia proper.</p>
						<p>Jeff has lived in Blacksburg VA, the metropolitan region of Baltimore, and NYC proper (Manhattan and Brooklyn).</p>
						<p>Jason has lived in the metropolitan region of Paris, Seattle proper, Philadelphia proper, and NYC proper (Brooklyn).</p>       
				</div>	
			</div>
			<div class="c33r">
				<div class="subcr">
				  <div class="info">
					<h4>What Businesses Say</h4><br>
					  <ul class="testimonials">
						  <li class="testimonials">
							<blockquote class='clearfix'>
							  <span>Since signing up for UsherBuddy, we have seen attendance increase by 10% on average! More people are discovering the joys of improv comedy!</span>
							</blockquote>
							<cite>
							  <strong>Frank Fumarola</strong>
							  <a target="_blank" href="#">Some Comedy Place</a>
							</cite>
						  </li>
						  <li class="testimonials">
							<blockquote class='clearfix'>
							  <span>The first time we ran a deal, within 3 hours we had 20 people at our door redeeming their ticket for the theater show.</span>
							</blockquote>
							<cite>
							  <strong>Jason Williams</strong>
							  <a target="_blank" href="#">Some Theater</a>
							</cite>
						  </li>
						  <li class="testimonials">
							<blockquote class='clearfix'>
							  <span>We typically get about 50 people to come by happy hour on Friday to enjoy free food and drink specials. Since running a deal for a free pitcher of beer, we have been getting around 70!</span>
							</blockquote>
							<cite>
							  <strong>Jeff Csicsek</strong>
							  <a target="_blank" href="#">Some Bar</a>
							</cite>
						  </li>
					   </ul>

				  </div>
				</div>			
			</div>			
		</div>
      </div>
    </div>
  </div>