	<script>
		$(document).ready(function() {
		$("a[name^='faq-']").each(function() {
			$(this).click(function() {
				if( $("#" + this.name).is(':hidden') ) {
					$("#" + this.name).slideDown();
				} else {
					$("#" + this.name).slideUp();
				}
				return false;
			});
		});
		});
	</script>
 
 
 <div id="main">
    <div class="page_margins">
      <div class="page">    
		<div class="subcolumns">
			<div class="c75l">
				<div class="subcl">
				  <h2>Frequently Asked Questions</h2>
					<p><ol>
						<li><a name="faq-1">Alright, I bought a deal. Now what?</a></li>
						<div id="faq-1" class="answer">You can access deal details through your account before and after you accept a deal. Make sure to check the expiration time and date. You have up until that point to arrive at the venue with your confirmation code. Present the code at the door and then take your seat or spot on the dance floor!<br /><br /></div>
						<li><a name="faq-2">Am I billed as soon as I join UsherBuddy?</a></li>
						<div id="faq-2" class="answer">You do not need to pay a cent to join UsherBuddy and begin receiving deals. You only need to pay as you accept a deal. We recommend loading your account beforehand to get the best value (5% discount on your purchases!).<br /><br /></div>
						<li><a name="faq-3">When I am selected for a deal, how many tickets can I buy?</a></li>
						<div id="faq-3" class="answer">You can purchase as many tickets for the same deal as you like, so long as the venue has alotted enough tickets to cover your demand. Essentially, when you win a deal so do all your friends.<br /><br /></div>
						<li><a name="faq-4">Can I get a refund for my purchase?</a></li>
						<div id="faq-4" class="answer">If you feel that the quality of the event or service was inferior in any way, UsherBuddy is more than happy to refund you for the deal. Unfortunately, we cannot refund you for anything you purchased while at the location.<br /><br /></div>
						<li><a name="faq-5">Does the deal have to be used the same day that I buy it?</a></li>
						<div id="faq-5" class="answer">Sometimes yes, sometimes no. Each deal is different, though the majority of our offers are for the same night you receive them. Our business model depends on last-minute seat filling, so that we are able to offer you the absolute lowest deals imaginable.<br /><br /></div>
						<li><a name="faq-6">How can I change the credit card that I want to use?</a></li>
						<div id="faq-6" class="answer">We try to make everything as easy as possible for our Usherbuddies, especially payment. You can change your personal details, including credit card information as often as youd like. Simply log into your account and click Change Details.<br /><br /></div>
						<li><a name="faq-7">How can I feature a deal for my business?</a></li>
						<div id="faq-7" class="answer">We love expanding our UsherBuddy family to include as many great venues and establishments as possible. To apply for a business account, simply <a href="#">go here</a> and tell us a little about yourselves and how youd like to utilize our service. To find out more about how to best utilize our system to boost your revenue, <a href="#">go here.</a><br /><br /></div>
						<li><a name="faq-8">I cant remember my password. Help!</a></li>
						<div id="faq-8" class="answer">Have no fear! Just answer our security question and well e-mail you a new one. Or, create a new account. Everyone loves a fresh start.<br /><br /></div>
					</ol></p>       
				</div>	
			</div>
			<div class="c25r">
				<div class="subcr">
				  <div class="info">
					  <h3>Take UsherBuddy Everywhere</h3>
					  <p>You can get deals wherever you are using the<code> UsherBuddy</code> mobile apps.</p>
					  <p><a href="#"><img src="/images/logo_android.png"></img></a><a href="#"><img src="/images/logo_iPhone.png"></img></a></p>
					  <p><a href="#"><img src="/images/logo_BB.png"></img></a><a href="#"><img src="/images/logo_WP7.png"></img></a></p>
				  </div>
				</div>			
			</div>			
		</div>
	  </div>
    </div>
  </div>
  <div id="extended">
    <div class="page_margins">
      <div class="page">
         <div class="subcolumns">
          <div class="c75l">
            <div class="subcl">
              <h2>Still Have Questions?</h2>     
              <div class="subcolumns">
                <div class="c33l">
                  <div class="subcl">
                    <h5>Live Chat</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula interdum ligula nec fermentum. Proin bibendum varius risus, sed suscipit tellus mollis a.</p>
                  </div>
                </div>
                <div class="c33l">
                  <div class="subc">
                    <h5>Email Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula interdum ligula nec fermentum. Proin bibendum varius risus, sed suscipit tellus mollis a.</p>
                  </div>
                </div>
                <div class="c33r">
                  <div class="subcr">
                    <h5>Call Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula interdum ligula nec fermentum. Proin bibendum varius risus, sed suscipit tellus mollis a.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c25r">
            <div class="subcr">
              <div class="info">
              <h3>Take a Tour</h3>
				<p>View this screencast to see how<code> UsherBuddy</code> can help you discover your city.</p>
				<iframe title="YouTube video player" width="200" height="143" src="http://www.youtube.com/embed/EqDfrcc6E2k?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>			
          </div>
        </div>
      </div>
    </div>
  </div>