 <!--This is home page only-->
  <div id="header" role="banner">
    <div class="page_margins">
      <div class="page">
		<div class="shout">
		  <div class="shout-left">
		    <h2>Sign Up.</h2>
			<h2>Get Notifications.</h2>
			<h2>Enjoy Great Events.</h2>
			<h5>Usher Buddy allows businesses and events to get rid of empty seats while giving you more than 70% off. <a href="#">LEARN MORE</a></h5>
		  </div>
		  <div class="shout-right">
			<a class="join-cta" href="#"><span class="alt">Join Now!</span></a>
		  </div>
		</div>
	  </div>
    </div>
  </div>

<div id="main">
    <div class="page_margins">
      <div class="page">
        <div class="subcolumns">
          <div class="c75l">
            <div class="subcl">
              <h2>Features</h2>
              <p class="floatbox"><!--<img src="images/dummy_150.png" alt="dummy" class="float_left" />-->Here are some of the main features that UsherBuddy offers:</p>
              <div class="subcolumns">
                <div class="c33l">
                  <div class="subcl">
                    <h5>Real-time Deals</h5>
					<p class="floatbox"><img src="/images/feat1.gif" class="float_left">The nature of the service allows you to receive multiple deals per day for different types of venues based on your preferences. You can limit the amount of deals you will receive per day if you just want to get your feet wet!</p>
                  </div>
                </div>
                <div class="c33l">
                  <div class="subc">
                    <h5>Loyalty Program</h5>
					<p class="floatbox"><img src="/images/feat2.gif" class="float_left">Making plans more spontaneously opens your doors to new  experiences. It also lets you get better deals. To sweeten the pot, we  run deal awards for our most loyal Userbuddies.</p>
                  </div>
                </div>
                <div class="c33r">
                  <div class="subcr">
                    <h5>Find New Places</h5>
					<p class="floatbox"><img src="/images/feat3.gif" class="float_left">Local businesses can run deals at any time. And if the deal fits in with what you're interested in exploring, you may get a deal offer... allowing you to get to know your city better.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c25r">
            <div class="subcr">
              <div class="info">
              <h3>Take UsherBuddy Everywhere</h3>
              <p>You can get deals wherever you are using the<code> UsherBuddy</code> mobile apps.</p>
              <p><a href="#"><img src="/images/logo_android.png"></img></a><a href="#"><img src="/images/logo_iPhone.png"></img></a></p>
              <p><a href="#"><img src="/images/logo_BB.png"></img></a><a href="#"><img src="/images/logo_WP7.png"></img></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 <!--This is second row of content-->
  <div id="extended">
    <div class="page_margins">
      <div class="page">
        <div class="subcolumns equalize">
          <div class="c33l">
            <div class="subcl">
              <h4>Get to Know Your City</h4>
			  		<table border="0" cellpadding="0" cellspacing="0" class="full">
						<caption style="padding-bottom:10px;">Check out all of the great local places who post deals on UsherBuddy:</caption>
						<tbody>
							<tr>
								<th scope="col">Venue</th>
								<th scope="col">Deals this Month</th>
							</tr>
							<tr>
								<th scope="row" class="sub"><a href="#">Comedy Sportz</a></th>
								<td>1,412</td>
							</tr>
							<tr>
								<th scope="row" class="sub"><a href="#">Manayunk Brewery</a></th>
								<td>714</td>
							</tr>
							<tr>
								<th scope="row" class="sub"><a href="#">Theater of the Arts</a></th>
								<td>506</td>
							</tr>
							<tr>
								<th scope="row" class="sub"><a href="#">Philadelphia Wax Musuem</a></th>
								<td>235</td>
							</tr>							
						</tbody>
					</table>
            </div>
          </div>
          <div class="c33l">
            <div class="subc">
              <h4>Take a Tour!</h4>
				<iframe title="YouTube video player" width="250" height="171" class="youtube" src="http://www.youtube.com/embed/EqDfrcc6E2k?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="c33r">
            <div class="subcr">
              <h4>Your City Deal Stream</h4>
				    <table border="0" cellpadding="0" cellspacing="0" class="full">
						<caption style="padding-bottom:10px;">These are all of the deals your fellow local Userbuddies have snagged:</caption>
						<tbody>
							<tr>
								<th scope="col">Minutes Ago</th>
								<th scope="col">Offer Details</th>
							</tr>
							<tr>
								<th scope="row" class="sub">5</th>
								<td>Comedy Club ticket for $5. Normal price: $25.</td>
							</tr>
							<tr>
								<th scope="row" class="sub">7</th>
								<td>$4 pitcher of beer if redeemed by 9pm.</td>
							</tr>
							<tr>
								<th scope="row" class="sub">11</th>
								<td>$2 cover charge if redeemed by 10pm.</td>
							</tr>
							<tr>
								<th scope="row" class="sub">13</th>
								<td>76ers ticket for $10. Normal price: $40.</td>
							</tr>	
						</tbody>
					</table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  