<div id="main">
    <div class="page_margins">
      <div class="page">    
		<div class="subcolumns">
			<p><img width="100%" src="/images/infographic.jpg"></img></p>        
		</div>
	  </div>
    </div>
  </div>

  <div id="extended">
    <div class="page_margins">
      <div class="page">
         <div class="subcolumns">
          <div class="c75l">
            <div class="subcl">
              <h2>Features</h2>
     
              <div class="subcolumns">
                <div class="c33l">
                  <div class="subcl">
                    <h5>Real-time Deals</h5>
					<p class="floatbox"><img src="/images/feat1.gif" class="float_left">The nature of the service allows you to receive multiple deals per day for different types of venues based on your preferences. You can limit the amount of deals you will receive per day if you just want to get your feet wet!</p>
                  </div>
                </div>
                <div class="c33l">
                  <div class="subc">
                    <h5>Loyalty Program</h5>
					<p class="floatbox"><img src="/images/feat2.gif" class="float_left">Making plans more spontaneously opens your doors to new  experiences. It also lets you get better deals. To sweeten the pot, we  run deal awards for our most loyal Userbuddies.</p>
                  </div>
                </div>
                <div class="c33r">
                  <div class="subcr">
                    <h5>Find New Places</h5>
					<p class="floatbox"><img src="/images/feat3.gif" class="float_left">Local businesses can run deals at any time. And if the deal fits in with what you're interested in exploring, you may get a deal offer... allowing you to get to know your city better.</p>
                  </div>
                </div>
              </div>
			  
              <div class="subcolumns">
                <div class="c33l">
                  <div class="subcl">
                    <h5>Real-time Deals</h5>
					<p class="floatbox"><img src="/images/feat1.gif" class="float_left">The nature of the service allows you to receive multiple deals per day for different types of venues based on your preferences. You can limit the amount of deals you will receive per day if you just want to get your feet wet!</p>
                  </div>
                </div>
                <div class="c33l">
                  <div class="subc">
                    <h5>Loyalty Program</h5>
					<p class="floatbox"><img src="/images/feat2.gif" class="float_left">Making plans more spontaneously opens your doors to new  experiences. It also lets you get better deals. To sweeten the pot, we  run deal awards for our most loyal Userbuddies.</p>
                  </div>
                </div>
                <div class="c33r">
                  <div class="subcr">
                    <h5>Find New Places</h5>
					<p class="floatbox"><img src="/images/feat3.gif" class="float_left">Local businesses can run deals at any time. And if the deal fits in with what you're interested in exploring, you may get a deal offer... allowing you to get to know your city better.</p>
                  </div>
                </div>
              </div>
			  
			  <div class="subcolumns">
                <div class="c33l">
                  <div class="subcl">
                    <h5>Real-time Deals</h5>
					<p class="floatbox"><img src="/images/feat1.gif" class="float_left">The nature of the service allows you to receive multiple deals per day for different types of venues based on your preferences. You can limit the amount of deals you will receive per day if you just want to get your feet wet!</p>
                  </div>
                </div>
                <div class="c33l">
                  <div class="subc">
                    <h5>Loyalty Program</h5>
					<p class="floatbox"><img src="/images/feat2.gif" class="float_left">Making plans more spontaneously opens your doors to new  experiences. It also lets you get better deals. To sweeten the pot, we  run deal awards for our most loyal Userbuddies.</p>
                  </div>
                </div>
                <div class="c33r">
                  <div class="subcr">
                    <h5>Find New Places</h5>
					<p class="floatbox"><img src="/images/feat3.gif" class="float_left">Local businesses can run deals at any time. And if the deal fits in with what you're interested in exploring, you may get a deal offer... allowing you to get to know your city better.</p>
                  </div>
                </div>
              </div>
			  
            </div>
          </div>
          <div class="c25r">
            <div class="subcr">
              <div class="info">
              <h3>Take UsherBuddy Everywhere</h3>
              <p>You can get deals wherever you are using the<code> UsherBuddy</code> mobile apps.</p>
              <p><a href="#"><img src="/images/logo_android.png"></img></a><a href="#"><img src="/images/logo_iPhone.png"></img></a></p>
              <p><a href="#"><img src="/images/logo_BB.png"></img></a><a href="#"><img src="/images/logo_WP7.png"></img></a></p>
              </div>
            </div>
			
			<div class="subcr">
              <div class="info">
              <h3>Take a Tour</h3>
              <p>View this screencast to see how<code> UsherBuddy</code> can help you discover your city.</p>
					<iframe title="YouTube video player" width="200" height="143" src="http://www.youtube.com/embed/EqDfrcc6E2k?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>