<footer>
        <div id="footer_wrapper">
        <section class="footer_column">
            <h5>Company</h5>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="careers">Careers</a></li>
                <li><a href="business">For Businesses</a></li>
                <li><a href="press">In the Press</a></li>
            </ul>
        </section>
        <section class="footer_column">
            <h5>Learn More</h5>
            <ul>
                <li><a href="contact">Ask a Question</a></li>
                <li><a href="http://blog.usherbuddy.com">Read our official blog</a></li>
                <li><a href="dev">Developer / API</a></li>
                <li><a href="contact">Suggest a feature</a></li>
                <li><a href="abuse">Report Abuse</a></li>
            </ul>
        </section>
        <section class="footer_column">
            <h5>Connect With Us</h5>
            <ul>
                <li><a href="http://www.twitter.com/usherbuddy" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/pages/UsherBuddy/213623642011189" target="_blank">Facebook</a></li>
                <li><a href="#">Flickr</a></li>
                <li><a href="#">RSS Feed</a></li>
                <li><a href="mailto:info@usherbuddy.com">Email</a></li>
            </ul>
        </section>
        <section class="colophon">
            <h5>Legal</h5>
            <p>&copy; Copyright 2011 - UsherBuddy | All Rights Reserved. UsherBuddy is a registered trademark. Please read our <a href="terms">Terms of Use </a> and <a href="privacy">Privacy Policy</a>. </p>
        </section>
        </div>
</footer>